<div class="card">
    <div class="card-body">
        <h4 class="card-title">Category List</h4>
        <form class="my-3">
            <div class="row d-flex align-items-center">
                <div class="col-5">
                    <input type="text" class="form-control" name="search">
                </div>
                <div class="col-4">
                    <input type="submit" value="Search" class="btn btn-success">
                </div>
                <div class="col-3">
                    <td><a href="/admin/category/create" class="btn btn-info">Create</a></td>
                </div>

            </div>
        </form>
        <div class="table-responsive" id="manager-table">

        </div>
        <ul class="pagination my-3">

            {{#each pager.range}}
            <li class="paginate_button page-item {{#if (eq ../pager.currentPage this)}}active{{/if}}">
                <a href="/admin/ajax-table/category?page={{this}}&keyword={{ ../pager.searchText }}" class="page-link">{{this}}</a>
            </li>
            {{/each}}

        </ul>
    </div>
</div>

