<table class="table table-hover table-bordered table-contextual">
    <thead>
        <tr>
            <th> Id </th>
            <th> Title </th>
            <th> Description </th>
            <th> Thumbnail </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each model}}
        <tr class="table-info">
            <td> {{ this.id }} </td>
            <td> {{ this.title }} </td>
            <td> {{ this.description }} </td>
            <td> <img src="{{ this.thumbnail }}" /> </td>
            <td><a href="" class="btn btn-warning">Edit</a></td>
            <td><a href="" class="btn btn-danger">Delete</a></td>
        </tr>
        {{/each}}


    </tbody>
</table>