<div class="container-fluid mt-body">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/customer/homepage">Home</a>
                <span class="breadcrumb-item active">My Payment</span>
            </nav>
        </div>
    </div>
</div>
<div>
    This is Payment Page
</div>