/* CSS for Sidebar Animation */
.sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.sidebar-visible {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

@media (max-width: 768px) {

    .sidebar-hidden {
        transform: translateY(-200%);
        transition: transform 0.3s ease-out;
    }

    .sidebar-visible {
        transform: translateY(0);
        transition: transform 0.3s ease-in;
    }
}
