<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto"
                ><span class="bi bi-check"></span>Thông báo</strong
            >
            <small>vừa xong</small>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
            ></button>
        </div>
        <div class="toast-body text-success fw-semibold"><%= message %></div>
    </div>
</div>
