<div class="row bg-light py-3 px-xl-5">
    <div class="col-lg-4 my-auto d-none d-lg-block">
        <a href="/customer/homepage" class="text-decoration-none">
            <span
                class="h1 text-uppercase text-primary bg-dark px-2"
            >WEBIFY</span>
        </a>
    </div>
    <div class="col-lg-4 col-6 text-left my-auto d-none d-lg-block">
        <form action="/customer/homepage" class="form-search mb-0">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control search-input"
                    name="query"
                    placeholder="Tìm kiếm sản phẩm ..."
                />
                <div class="input-group-btn">
                    <button class="btn btn-primary bg-transparent search-btn text-primary border-left-0 h-100" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-6 d-none d-lg-block">
        <% if (user) { %>
            <div class="d-flex align-items-center justify-content-end">
                <%- include('userbar') %>
            </div>
          <% } else { %>
            <p class="text-end">
                <a
                    class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover hover"
                    href="/login"
                >LOGIN</a>
            </p>
            <p class="text-end">
                <a
                    class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover hover"
                    href="/register"
                >REGISTER</a>
            </p>
          <% } %>
    </div>
    <div class="d-flex d-lg-none justify-content-center align-items-center">
        <div class="py-0 mr-3">
            <a href="/customer/cart" class="p-0 ml-2" style="text-decoration: none;">
                <i class="fas fa-shopping-cart text-primary"></i>
                <span
                    class="badge text-dark border border-dark rounded-circle cart-badge"
                    style="padding-bottom: 2px;"
                ><%= nCart %></span>
            </a>
        </div>
        <% if (user) { %>
            <%- include('userbar') %>
          <% } else { %>
            <p class="text-center">
                <a
                    class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover hover pe-2"
                    href="/login"
                >LOGIN</a>
                <a
                    class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover hover"
                    href="/register"
                >REGISTER</a>
            </p>
          <% } %>
    </div>
</div>