<div class="removePadding">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="rounded d-flex align-items-center justify-content-between p-4 backgroundDecor">
                <i class="fa fa-chart-line fa-3x text-primary "></i>
                <div class="ms-3">
                    <p class="mb-2"><b>Expected Revenue Today</b></p>
                    <h6 class="mb-0 title" id="expectedRevenueToday"><b>$1234</b></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="rounded d-flex align-items-center justify-content-between p-4 backgroundDecor">
                <i class="fa fa-chart-bar fa-3x text-primary "></i>
                <div class="ms-3">
                    <p class="mb-2"><b>Total Expected Revenue</b></p>
                    <h6 class="mb-0 title" id="totalExpectedRevenue"><b>$1234</b></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="rounded d-flex align-items-center justify-content-between p-4 backgroundDecor">
                <i class="fa fa-chart-area fa-3x text-primary "></i>
                <div class="ms-3">
                    <p class="mb-2"><b>Today Revenue</b></p>
                    <h6 class="mb-0 title" id="todayRevenue"><b>$1234</b></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="rounded d-flex align-items-center justify-content-between p-4 backgroundDecor">
                <i class="fa fa-chart-pie fa-3x text-primary "></i>
                <div class="ms-3">
                    <p class="mb-2"><b>Total Revenue</b></p>
                    <h6 class="mb-0 title" id="totalRevenue"><b>$1234</b></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
    const resTotalRevenue = await fetch("/get-all-revenue");
    const dataTotalRevenue = await resTotalRevenue.json();
    $("#totalRevenue").html(`<b>$ ${dataTotalRevenue.revenue ? dataTodayRevenue.revenue : 0}</b>`)

    const resTodayRevenue = await fetch("/get-today-revenue");
    const dataTodayRevenue = await resTodayRevenue.json();
    if (dataTodayRevenue.length !== 0) {
        $("#todayRevenue").html(`<b>$ ${dataTodayRevenue[0].revenue ? dataTodayRevenue[0].revenue : 0}</b>`)
    }
    else {
        $("#todayRevenue").html(`<b>$ 0</b>`)
    }

</script>