<div class="product-item bg-light mb-4">
    <div class="product-img position-relative overflow-hidden">
        <img class="img-fluid w-100" src="img/product-1.jpg" alt="" />
        <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i
                    class="fa fa-cart-plus"
                ></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i
                    class="far fa-heart"
                ></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i
                    class="fa fa-eye"
                ></i></a>
        </div>
    </div>
    <div class="text-center py-4">
        <a class="h6 text-decoration-none text-truncate" href="">Product Name
            Goes Here</a>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
        </div>
        {{> client/rating}}
    </div>
</div>