<div class="row bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4 my-auto">
        <a href="" class="text-decoration-none">
            <span
                class="h1 text-uppercase text-primary bg-dark px-2"
            >WEBIFY</span>
            {{! <span
                class="h1 text-uppercase text-dark bg-primary px-2"
            >Shop</span> }}
        </a>
    </div>
    <div class="col-lg-4 col-6 text-left my-auto">
        <form action="" class="mb-0">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search for products"
                />
                <div class="input-group-append">
                    <span
                        class="input-group-text bg-transparent text-primary border-left-0 h-100 mdi-cursor-pointer"
                    >
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-6 fw-bold">
        <p class="text-end">
            <a
                class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover hover"
                href="/login"
            >LOGIN</a>
        </p>
        <p class="text-end">
            <a
                class="link-warning link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover hover"
                href="/signup"
            >SIGN UP</a>
        </p>
    </div>
    <div>
    </div>
</div>