<div>
      {{!-- total statistic --}}
      {{>totalStatistic}}

      {{!-- thống kê số liệu--}}
      {{>statisticChart}}

      {{!-- danh sách user --}}
      {{>listUser}}

      <!-- Widgets Start -->
      <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                  {{>listAdmin}}
                  {{>calendar}}
            </div>
      </div>
</div>