<div class = "detailTransaction" id = {{id}}>

</div>
<script type = "module">
    let id = $(".detailTransaction").attr("id").trim();
    let res = await fetch(`/detail-transaction`, {
        method: "POST", // or 'PUT'
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({id : id}),
    });
    let data = await res.json();
    console.log("data => ", data)
    let strRender = ""
    strRender += `
        <h1 style = "text-align : center; background-color : rgb(149, 134, 134); color : #ccc">CHI TIẾT GIAO DỊCH</h1>
        <h5><b>Id                   : </b> ${data.id}</h5>
        <h5><b>Ngày giao dịch       : </b> ${data.dateTransfer.slice(0, 10)}</h5>
        <h5><b>Tiền giao dịch       : $ ${data.amount} </b></h5>
        <h5><b>Số tiền sau giao dịch: $ ${data.balanceAfterTransfer}</b></h5>
    `
    $(".detailTransaction").html(strRender);
</script>