<div class="mt-4 removePadding">
    <div class="text-center rounded p-4 backgroundDecor">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0" style="text-decoration: none; color : rgb(0, 132, 255)"><b>List User</b></h6>
            <a href="" style="text-decoration: none; color : rgb(0, 132, 255)" id="showAllUser"><b>Show
                    All</b></a>
        </div>
        <div class="table-responsive">
            <table
                class="table table-striped text-start align-middle table-bordered table-hover mb-0 decorTableListUser">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Detail</th>
                    </tr>
                </thead>
                <tbody id="contentTableInListUser">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="module">
    let resList10User = await fetch("/get-10-user");
    let dataList10User = await resList10User.json();

    let strContentInUserTable = "";
    for (let i = 0; i < dataList10User.length; i++) {
        const item = dataList10User[i];
        strContentInUserTable += `
                  <tr>
                        <td>${item.id}</td>
                        <td>${item.username}</td>
                        <td>${item.role}</td>
                        <td>${item.fullName}</td>
                        <td>${item.email}</td>
                        <td style="text-align: center;"><button class="btn btn-sm btn-primary viewDetailInfoUser"
                                    type="button">Detail</button></td>
                  </tr>
            `
    }
    $("#contentTableInListUser").html(strContentInUserTable);

    const viewDetailInfoUser = $(".viewDetailInfoUser");
    for (let i = 0; i < viewDetailInfoUser.length; i++) {
        const item = viewDetailInfoUser.eq(i);
        const idUser = item.parent().parent().children().first().text();
        item.click(async () => {
            location.href = `/detail-user?id=${idUser}`;
        })
    }

    $("#showAllUser").click(async () => {
        const res = await fetch("/get-all-user");
        const listUser = await res.json();
        let strContentInUserTable = "";
        for (let i = 0; i < listUser.length; i++) {
            const item = listUser[i];
            strContentInUserTable += `
                        <tr>
                            <td>${item.id}</td>
                            <td>${item.username}</td>
                            <td>${item.role}</td>
                            <td>${item.fullName}</td>
                            <td>${item.email}</td>
                            <td style="text-align: center;"><button class="btn btn-sm btn-primary viewDetailInfoUser"
                                        type="button">Detail</button></td>
                    </tr>
                  `
        }
        $("#contentTableInListUser").html(strContentInUserTable);

        const viewDetailInfoUser = $(".viewDetailInfoUser");
        for (let i = 0; i < viewDetailInfoUser.length; i++) {
            const item = viewDetailInfoUser.eq(i);
            const idUser = item.parent().parent().children().first().text();
            console.log(idUser);
            item.click(async () => {
                location.href = `/detail-user?id=${idUser}`;
            })
        }
    })
</script>